.services-outer-container header.header {
    position: relative;
}


.services-strategy-section-container{
    padding: 3em 12em 6em 12em;
    font-family: Montserrat;
}

.it-consultancy-fifty-fifty-section{
    /* padding: 2em 0em; */
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-outer-container .fifty-fifty-left-container{
    padding: 2em 3em;
    box-sizing: border-box;
    width: 100%;
}

.services-outer-container .fifty-fifty-right-container{
    padding: 0em 0em 1em 4em;
    box-sizing: border-box;
    width: 100%;
}

.services-strategy-section-container .center-text-bold-section{
    text-align: left !important;
    padding: 0em;
}

.services-strategy-section-container section.b-content-button.u-margin {
    margin: 2em;
} 

.services-heading {
    font-size: 72px;
    text-align: center;
    font-family: Montserrat;
    color: #ffffff;
    font-weight: 500;
    /* padding: 2em; */
}

.services-heading-section {
    padding: 3em;
}

p.Service-name-heading {
    font-size: 48px;
    font-weight: 500;
    display: inline;
    color: #ffffff;
    font-family: Montserrat;
    border-bottom: 1px solid #99999a;
}

p.Service-name-description {
    font-weight: 300;
    font-size: 30px;
    font-family: Montserrat;
    color: #99999a;
}

@media screen and (min-width:1024px) {

    .services-strategy-section-container{
        padding: 3em 4em;
        align-items: center;
    }

    .services-outer-container .fifty-fifty-left-container p{
        font-size: 30px;
    }
    .services-outer-container .fifty-fifty-left-container{
        padding: 1.5em;
    }

}

@media screen and (min-width:768px) and (max-width:1023px) {

    .services-heading{
        font-size: 55px;
    }

    .services-strategy-section-container{
        padding: 1em 2em 3em 2em;
    }

    .services-outer-container .fifty-fifty-left-container{
        padding: 5px;
    }
    .services-outer-container .fifty-fifty-left-container p{
        font-size: 20px;
    }

    .Service-name-description{
        padding: 0;
        margin: 5px;
    }
}

@media screen and (max-width:767px) {
    .services-heading{
        font-size: 40px;
    }

    .it-consultancy-fifty-fifty-section{
        flex-direction: column;
    }
    
    .fifty-fifty-right-container{
        padding: 0em;
    }

    .services-strategy-section-container{
        padding: 1em 2em 3em 2em;
    }

    .services-outer-container .fifty-fifty-left-container{
        padding: 1em 0em;
    }
    .services-outer-container .fifty-fifty-left-container p{
        font-size: 20px;
    }

    .Service-name-description{
        padding: 0;
        margin: 5px;
    }
}