.e-title{
    font-family: Montserrat;
    font-weight: 300;
    line-height: 1.1em;
}

@media screen and (min-width:1299px) {
  .e-title{
    font-size: 35px;
  }
}

.e-cta__text{
  font-size: 46px;
  font-weight: 100;
  font-family: Montserrat;
}


.e-cta.is-inview {
  border: 1px solid white;
}

a.e-cta.is-inview {
  border-radius: 50%;
  width: 330px ;
  height: 330px ;
  background-color: #0f1011;
  border: 2px solid #ffffff5e;
}

@media screen and (min-width:768px) {
  .b-content-button .col-md-12.col-xl-11.offset-md-2 {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
}



@media screen and (min-width: 1024px)
{
  /* .e-cta {
    width: calc(4.1666vw * 4.5 - 10px) !important;
    height: calc(4.1666vw * 4.5 - 10px) !important;
  } */
  .col-md-12.col-xl-11.offset-md-2 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
}


.text-with-circle-outer-section{
    background-color: #090909;
    /* height: 100vh; */
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7em auto;

}

/* .b-content-button__titles.e-title{
    font-size: 1.3em;
} */

.text-with-circle-inner-section {
    overflow: hidden;
    /* margin: 5em; */
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;

}
.text-with-circle-left-div {
    float: left;
    font-size: 30px;
    width: 60%;
    /* justify-content: center; */
    display: flex;
    box-sizing: border-box;
    align-items: center;
    color: aliceblue;
    padding: 2em 0em;
}

.text-with-circle-circle-section p {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    padding: 3.5em 2.5em;
}

.text-with-circle-left-div p {
    padding-right: 2em;
    line-height: 1.5em;
}

.text-with-circle-right-div {
    color: white;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.text-with-circle-circle-section p{
    padding: 3.5em 1.5em;
}

.text-with-circle-circle-section a{
    text-decoration: none;
    color: white;
}

/* section.b-content-button.u-margin {
    margin: 2em;
} */

.circular-button {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: #3498db; */
}

.color-change {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; /* Initial color (blue) */
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.8s ease-in-out, background 0.4s ease-in-out;
}

.circular-button:hover .color-change {
  clip-path: circle(100% at 50% 50%); /* Circular clip path covering the whole circle */
  background: white; /* Hover color (red) */
}

@media screen and (max-width:767px) {
  .b-content-button__cta {
    height: 100%;
    width: 100%;
    align-items: center !important;
  }
}