.web-design-main-container{
    background-color: #090909;
    line-height: 2.3em !important;  
}

.web-design-welcome-text-section{
    height: 100%;
    padding: 2em 4em;
    background-color: #090909;
    color: white;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 500;
}

.web-design-strategy-section-container{
    padding: 3em 4em 0em 8em;
    font-family: Montserrat;
}

.web-design-text-video-section{
    box-sizing: border-box;
    /* padding: 2em 6em; */
    background-color: #090909;
    color: white;
    font-family: Montserrat;
    width: 100%;
}

.web-design-bottom-big-text-section {
    width: 80%;
}

.web-design-text-video-container {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .web-design-text-video-left-section {
    width: 60%;
    font-size: 1.1em;
  }

  .web-design-text-video-right-section {
    width: 40%;
    padding: 2em;
    margin-right: 2em;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-design-text-video-right-section p {
    width: 100%;
    padding: 75% 30%;
    background-color: white;
    border-radius: 10%;
    color: black;
}

.web-design-video-section {
    padding: 2em 4.5em;
}

.web-design-text-with-circle-section {
    margin-top: 15em;
}

.web-design-video-section .row{
    justify-content: center;
}

@media screen and (min-width:768px) and (max-width:1299px) {
    .web-design-welcome-text-section{
        padding: 2em 2.5em;
        font-size: 20px;
    }

    .web-design-strategy-section-container{
        padding: 2em 3em;
    }

    .web-design-text-video-section{
        padding: 0;
    }
    
    .strategy-section-heading{
        font-size: 20px !important;
        margin-top: 0.5em;
    }

    .strategy-section-subtitle{
        font-size: 17px !important;
    }

    .web-design-text-video-right-section{
        margin-right: 0;
        padding: 10px;
    }

    .web-design-video-section{
        padding: 2em;
    }
}

@media screen and (max-width:767px) {
    .web-design-welcome-text-section{
        padding: 2em 2.5em;
        font-size: 20px;
    }

    .web-design-strategy-section-container{
        padding: 2em 3em;
    }

    .web-design-text-video-section{
        padding: 0;
    }
    
    .strategy-section-heading{
        font-size: 20px !important;
        margin-top: 0.5em;
    }

    .web-design-bottom-big-text-section, .web-design-text-video-right-section{
        width: 100%;
    }

    .web-design-text-video-container{
        flex-direction: column;
    }

    .web-design-text-video-right-section{
        margin: 2em 0em;
    }

    .strategy-section-subtitle{
        font-size: 17px !important;
    }

    .web-design-text-video-right-section{
        margin-right: 0;
        padding: 10px;
    }

    .web-design-video-section{
        padding: 2em;
    }
}