.web-design-main-container{
    background-color: #0f1011;
    line-height: 2.3em !important;  
}

.web-design-welcome-text-section{
    height: 100%;
    padding: 2em 3.5em;
    background-color: #0f1011;
    color: white;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 500;
}

.web-design-strategy-section-container{
    padding: 3em 8em 0em 8em;
    font-family: Montserrat;
}

.web-design-text-video-section{
    box-sizing: border-box;
    /* padding: 2em 6em; */
    background-color: #0f1011;
    color: white;
    font-family: Montserrat;
    width: 100%;
}

.web-design-bottom-big-text-section {
    width: 80%;
}

.web-design-text-video-container {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .web-design-text-video-left-section {
    width: 60%;
    font-size: 1.1em;
  }

  .web-design-text-video-right-section {
    width: 40%;
    padding: 2em 0em;
    margin-right: 2em;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-design-text-video-right-section p {
    width: 100%;
    padding: 75% 30%;
    background-color: white;
    border-radius: 10%;
    color: black;
}

.web-design-video-section {
    padding: 2em 4.5em;
}

.web-design-strategy-section-container img{
  width: 100%;
}

.web-design-text-with-circle-section {
    margin-top: 5em;
}

.web-design-video-section .row{
    justify-content: center;
}

.web-design-text-with-circle-section .e-cta__text{
    font-size: 46px !important;
    font-weight: 100;
    font-family: Montserrat;
  }
  
  .web-design-text-with-circle-section .e-cta{
    border:1px solid white
  }
  
  .web-design-text-with-circle-section a.e-cta.is-inview{
    height: 400px;
    width: 400px;
  }

  .web-design-text-with-circle-section .row{
    justify-content: center;
  }

  @media screen and (min-width: 1399px) {
    .web-design-text-with-circle-section .col-md-12.col-xl-11.offset-md-2{
      margin-right: 15%;
    }
  }
  
  @media screen and (min-width: 1299px) and (max-width:1398px){
    .web-design-text-with-circle-section .col-md-12.col-xl-11.offset-md-2{
      margin-right: 10%;
    }

  }

@media screen and (min-width:768px) and (max-width:1299px) {
    .web-design-welcome-text-section{
        padding: 2em 2.5em;
        font-size: 20px;
    }
    

    .web-design-strategy-section-container{
        padding: 2em 3em;
    }

    .web-design-text-video-section{
        padding: 0;
    }
    
    .strategy-section-heading{
        font-size: 20px !important;
        margin-top: 0.5em;
    }

    .strategy-section-subtitle{
        font-size: 17px !important;
    }

    .web-design-text-video-right-section{
        margin-right: 0;
        padding: 10px;
    }

    .web-design-video-section{
        padding: 2em;
    }

    .web-design-text-with-circle-section .b-content-button__titles {
        margin-right: 10px;
    }
    
    .web-design-text-with-circle-section .e-cta__text{
      font-size: 40px !important;
    }
    
    .web-design-text-with-circle-section a.e-cta.is-inview{
      height: 300px;
      width: 300px;
    }
    .web-design-text-with-circle-section {
        padding: 0em 3em;
    }
}

@media screen and (max-width:767px) {
    .web-design-welcome-text-section{
        padding: 2em 2.5em;
        font-size: 20px;
    }

    .web-design-text-with-circle-section a.e-cta.is-inview{
        height: 250px;
        width: 250px;
      }
      
    .web-design-text-with-circle-section .e-cta__text{
        font-size: 30px !important
      }

      .web-design-text-with-circle-section{
        padding: 2em 0em;
      }
    
      .web-design-text-with-circle-section .row{
        flex-direction: column;
      }
    
      .web-design-text-with-circle-section .col-md-12.col-xl-11.offset-md-2{
        margin-right: 4em;
      }

    .web-design-strategy-section-container{
        padding: 2em 3em;
    }

    .web-design-text-video-section{
        padding: 0;
    }
    
    .strategy-section-heading{
        font-size: 20px !important;
        margin-top: 0.5em;
    }

    .web-design-bottom-big-text-section, .web-design-text-video-right-section{
        width: 100%;
    }

    .web-design-text-video-container{
        flex-direction: column;
    }

    .web-design-text-video-right-section{
        margin: 2em 0em;
    }

    .strategy-section-subtitle{
        font-size: 17px !important;
    }

    .web-design-text-video-right-section{
        margin-right: 0;
        padding: 10px;
    }

    .web-design-video-section{
        padding: 2em;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .web-design-text-with-circle-section .e-title{
      font-family: 25px;
    }
  }

  @media screen and (min-width:1200px) and (max-width:1299px) {
    .web-design-text-with-circle-section .col-md-12.col-xl-11.offset-md-2 {
        margin-right: 15% !important;
    }
  }  

  @media screen and (min-width:1023px) and (max-width:1199px) {
    .web-design-text-with-circle-section .col-md-12.col-xl-11.offset-md-2 {
        margin-right: 10% !important;
    }
  }  
  
  @media screen and (max-width:500px) {
    .web-design-text-with-circle-section .row{
      display: block;
    }
  }

  /* .web-design-main-container .top-video-page-video-section video {
    padding: 0em 8em;
  }
  
  @media screen and (min-width:1024px) and (max-width:1299px) {
    .web-design-main-container .top-video-page-video-section video {
      padding: 0em 3em;
    }
  }
  
  @media screen and (min-width:768px) and (max-width:1023px) {
    .web-design-main-container .top-video-page-video-section video {
        padding: 0em 3em;
    }
  }
  
  @media screen and (max-width:767px) {
    .web-design-main-container .top-video-page-video-section video {
        padding: 0em;
    }
  } */

@media screen and (min-width:768px) {
  .web-development-first-one{
    padding-left: 3em;
  }

  .web-development-second-one{
    padding-right: 3em;
  }
}