

.db-management-text-video-section{
    box-sizing: border-box;
    padding: 0em 10em;
    background-color: #0f1011;
    color: white;
    font-family: Montserrat;
}

.db-management-middle-section{
  padding: 0em 10em;
}

.db-management-text-video-container {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .db-management-text-video-left-section {
    width: 60%;
    font-size: 1.1em;
  }

  .db-management-text-video-right-section {
    width: 40%;
    padding: 0em 4em 0em 0em;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .db-management-text-video-left-section p {
    margin-bottom: 20px;
  }

  .db-management-text-video-right-section p {
    width: 100%;
    padding: 45% 40%;
    background-color: white;
    border-radius: 50%;
    color: black;
  }

.db-management-bottom-big-text-section{
  width: 60%;
}

.db-management-section-main-container .center-text-bold-section p{
  line-height: 1.1;
}

.db-management-heading{
  font-weight: bold;
  font-size: 15px;
  padding: 0 !important;
  line-height: 0;
  margin-top: 2em;
}

.db-management-subheading{
  font-weight: 300;
  font-size: 13px;
  line-height: 1.1;
  margin-bottom: 10px;
}

.it-consultancy-strategy-section-row{
  font-family: Montserrat;
}

.db-management-bottom-section{
  padding-bottom: 10em;
}

.db-management-text-with-circle-section {
  margin-top: 5em;
}

.web-design-video-section .row{
  justify-content: center;
}

.db-management-text-with-circle-section .e-cta__text{
  font-size: 46px !important;
  font-weight: 100;
  font-family: Montserrat;
}

.db-management-text-with-circle-section .e-cta{
  border:1px solid white
}

.db-management-text-with-circle-section a.e-cta.is-inview{
  height: 400px;
  width: 400px;
}

.db-management-text-with-circle-section .row{
  justify-content: center;
}

.db-management-full-width-video-section .row{
  justify-content: center;
}

.db-management-text-video-section img{
  width: 90%;
}

.db-management-text-bold-section {
  padding: 6em !important;
}

@media screen and (min-width: 1399px) {
  .db-management-text-with-circle-section .col-md-12.col-xl-11.offset-md-2{
    margin-right: 15%;
  }
}

@media screen and (min-width: 1299px) and (max-width:1398px){
  .db-management-text-with-circle-section .col-md-12.col-xl-11.offset-md-2{
    margin-right: 10%;
  }

}

@media screen and (min-width: 768px) and (max-width:1299px){
  .db-management-section-main-container .text-center-non-bold{
    padding: 1em 1.5em;
    font-size: 25px;
  }

  .db-management-text-bold-section {
    padding: 2em !important;
  }

  .db-management-middle-section {
    padding: 0em 3em;
  }

  .db-management-text-video-section{
    padding: 0em 3em 0em 3em;
  }

  .db-management-section-main-container .center-text-bold-section p{
    font-size: 17px;
  }

  .db-management-text-with-circle-section .b-content-button__titles {
    margin-right: 10px;
}

.db-management-text-with-circle-section .e-cta__text{
  font-size: 40px !important;
}

.db-management-text-with-circle-section a.e-cta.is-inview{
  height: 300px;
  width: 300px;
}
.db-management-text-with-circle-section {
    padding: 0em 3em;
}
}

@media screen and (max-width:767px){
  .db-management-section-main-container .text-center-non-bold{
    padding: 1em;
  }

  .db-management-text-video-right-section img{
    padding: 2em 0em;
  }

  .db-management-text-bold-section {
    padding: 2em 1em !important;
  }

  .db-management-middle-section {
    padding: 0em 2em;
  }

  .db-management-text-video-section{
    padding: 0em 2em 3em 2em;
  }

  .db-management-text-video-container{
    display: block;
  }

  .db-management-text-video-left-section, .db-management-bottom-big-text-section, .db-management-text-video-right-section{
    width: 100%;
  }

  .db-management-section-main-container .center-text-bold-section{
    padding: 1.5em;
  }

  .db-management-section-main-container .center-text-bold-section p{
    font-size: 17px;
  }

  .db-management-text-with-circle-section a.e-cta.is-inview{
    height: 250px;
    width: 250px;
  }
  
.db-management-text-with-circle-section .e-cta__text{
    font-size: 30px !important
  }

  .db-management-text-with-circle-section{
    padding: 2em 0em;
  }

  .db-management-text-with-circle-section .row{
    flex-direction: column;
  }

  .db-management-text-with-circle-section .col-md-12.col-xl-11.offset-md-2{
    margin-right: 4em;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .db-management-text-with-circle-section .e-title{
    font-family: 25px;
  }
}

@media screen and (min-width:1200px) and (max-width:1299px) {
  .db-management-text-with-circle-section .col-md-12.col-xl-11.offset-md-2 {
      margin-right: 15% !important;
  }
}  

@media screen and (min-width:1023px) and (max-width:1199px) {
  .db-management-text-with-circle-section .col-md-12.col-xl-11.offset-md-2 {
      margin-right: 10% !important;
  }
}  

@media screen and (max-width:500px) {
  .db-management-text-with-circle-section .row{
    display: block;
  }
}


.db-management-section-main-container .top-video-page-video-section video {
  padding: 0em 10em;
}

@media screen and (min-width:1024px) and (max-width:1299px) {
  .db-management-section-main-container .top-video-page-video-section video {
    padding: 0em 3em;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .db-management-section-main-container .top-video-page-video-section video {
      padding: 0em 3em;
  }
}

@media screen and (max-width:767px) {
  .db-management-section-main-container .top-video-page-video-section video {
      padding: 0em;
  }
}