.software-development-outer-container{
    background-color: #0f1011;
    line-height: 2.3em !important;
}

.web-development-strategy-section-container{
    padding: 3em 7em 0em 7em;
    font-family: Montserrat;
}

.web-development-text-video-section{
    box-sizing: border-box;
    /* padding: 2em 0em; */
    background-color: #0f1011;
    color: white;
    font-family: Montserrat;
    width: 100%;
}

.web-development-text-video-section img{
  width: 100%;
}

.web-development-video-left-40-text-right-60{
    padding: 5em 0em;
}

.web-development-bottom-big-text-section {
    width: 80%;
}

.software-development-outer-container .center-text-bold-section {
    text-align: left;
    padding: 0em 2em 0em 4em;
}

.web-development-strategy-section-row {
    padding: 0;
    margin: 0;
    line-height: 1.3;
}

.web-development-text-video-container {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .web-development-text-video-left-section {
    width: 60%;
    font-size: 1.1em;
  }

  .web-development-text-video-right-section {
    width: 40%;
    padding: 2em 0em 0em 0em;
    margin-right: 2em;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) {
  .software-dev-image-one img{
    padding-left: 2em;
  }
  
  .software-dev-image-two img{
    padding-right: 2em;
  }
}

.web-development-text-video-left-section p {
    margin-bottom: 20px;
  }

  .web-development-text-video-right-section p {
    width: 100%;
    padding: 40% 30%;
    background-color: white;
    border-radius: 10%;
    color: black;
}

.it-consultancy-fifty-fifty-section{
    /* padding: 2em 0em; */
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifty-fifty-left-container{
    padding: 0em 1em 1em 0em;
    box-sizing: border-box;
    width: 100%;
}

.fifty-fifty-right-container{
    padding: 0em 0em 1em 1em;
    box-sizing: border-box;
    width: 100%;
}

.web-development-strategy-section-container .center-text-bold-section{
    text-align: left !important;
    padding: 0em;
}

.web-development-strategy-section-container section.b-content-button.u-margin {
    margin: 2em;
} 

.software-development-outer-container .text-center-non-bold{
    padding: 2em 3em !important;
    text-align: left !important;
    line-height: 1.3 !important;
}

.software-development-outer-container .center-text-bold-section p {
    padding: 4em 2em 4em 0em;
    line-height: 1.1em;
    line-height: 1.3;
    font-size: 30px;
    font-weight: bold;
}

.web-development-text-with-circle {
    padding: 0em 7em 0em 2em;
}

/* .software-development-outer-container .top-video-page-video-section video {
  padding: 0em 7em;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .software-development-outer-container .top-video-page-video-section video {
      padding: 0em 4em;
  }
}

@media screen and (max-width:767px) {
  .software-development-outer-container .top-video-page-video-section video {
      padding: 0em;
  }
} */

.web-development-text-with-circle .e-cta__text{
    font-size: 46px !important;
    font-weight: 100;
    font-family: Montserrat;
  }
  
  .web-development-text-with-circle .e-cta{
    border:1px solid white
  }
  
  .web-development-text-with-circle a.e-cta.is-inview{
    height: 400px;
    width: 400px;
  }

  .web-development-text-with-circle .row{
    justify-content: center;
  }


  @media screen and (min-width: 1399px) {
    .web-development-text-with-circle .col-md-12.col-xl-11.offset-md-2{
      margin-right: 15%;
    }
  }
  
  @media screen and (min-width: 1299px) and (max-width:1398px){
    .web-development-text-with-circle .col-md-12.col-xl-11.offset-md-2{
      margin-right: 10%;
    }

  }

@media screen and (min-width:1024px) and (max-width:1299px) {

    .software-development-outer-container .center-text-bold-section {

        padding: 0em 2em;
        font-size: 30px;
    }

    .software-development-outer-container .center-text-bold-section p{
        padding: 0;
        font-size: 30px;
    }

    .software-development-outer-container .text-center-non-bold {
        padding: 2.5em 3.5em !important;
        font-size: 30px;
    }

    .web-development-text-with-circle .b-content-button__titles {
        margin-right: 10px;
    }
    
    .web-development-text-with-circle .e-cta__text{
      font-size: 40px !important;
    }
    
    .web-development-text-with-circle a.e-cta.is-inview{
      height: 300px;
      width: 300px;
    }
    .web-development-text-with-circle {
        padding: 0em 3em;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .software-development-outer-container .text-center-non-bold {
        padding: 1em 1.8em !important;
    }

    .web-development-text-video-right-section{
        margin-right: 0;
    }

    .web-development-strategy-section-container {
        padding: 1em 4em 3em 4em !important;
    }

    .software-development-outer-container .it-consultancy-fifty-fifty-section .fifty-fifty-right-container{
        padding: 0;
    }

    .software-development-outer-container .center-text-bold-section {

        padding: 0em 2em;
        font-size: 17px;
    }

    .software-development-outer-container .center-text-bold-section p{
        padding: 0;
        font-size: 17px;
    }

    .web-development-text-with-circle .b-content-button__titles {
        margin-right: 10px;
    }
    
    .web-development-text-with-circle .e-cta__text{
      font-size: 40px !important;
    }
    
    .web-development-text-with-circle a.e-cta.is-inview{
      height: 300px;
      width: 300px;
    }
    .web-development-text-with-circle {
        padding: 0em 3em;
    }
}


@media screen and (max-width:767px) {
    .software-development-outer-container .text-center-non-bold {
        padding: 1em !important;
    }

    .web-development-text-video-right-section{
        margin-right: 0;
        width: 100%;
    }

    .software-development-outer-container .it-consultancy-fifty-fifty-section .fifty-fifty-right-container{
        padding: 0;
    }

    .software-development-outer-container .center-text-bold-section {

        padding: 0em 2em;
        font-size: 17px;
    }

    .web-development-text-video-container {
        display: block;
    }

    .web-development-strategy-section-container{
        padding: 2em;
    }

    .web-development-video-left-40-text-right-60 {
        padding-top: 5em;
    }

    .software-development-outer-container .center-text-bold-section p{
        padding: 0;
        font-size: 17px;
    }

    .web-development-bottom-big-text-section{
        width: 100%;
    }

    .web-development-text-video-right-section{
        padding: 2em 0em;
    }

    .web-development-text-with-circle a.e-cta.is-inview{
        height: 250px;
        width: 250px;
      }
      
    .web-development-text-with-circle .e-cta__text{
        font-size: 30px !important
      }

      .web-development-text-with-circle{
        padding: 2em 0em;
      }
    
      .web-development-text-with-circle .row{
        flex-direction: column;
      }
    
      .web-development-text-with-circle .col-md-12.col-xl-11.offset-md-2{
        margin-right: 4em;
      }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .web-development-text-with-circle .e-title{
      font-family: 25px;
    }
  }

  @media screen and (min-width:1200px) and (max-width:1299px) {
    .web-development-text-with-circle .col-md-12.col-xl-11.offset-md-2 {
        margin-right: 15% !important;
    }
  }  

  @media screen and (min-width:1023px) and (max-width:1199px) {
    .web-development-text-with-circle .col-md-12.col-xl-11.offset-md-2 {
        margin-right: 10% !important;
    }
  }  
  
  @media screen and (max-width:500px) {
    .web-development-text-with-circle .row{
      display: block;
    }
  }