
.loading-container-main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 1s infinite;
    animation-delay: calc(.1s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }