.footer-outer-section {
    padding: 1em 5em 1em 10em;
    background-color: #090909;
    font-family: Montserrat;
    color: #fff;
  }
  
  .footer-about-section {
    height: 20vh;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
}
  
  .footer-find-us-section {
    width: 30%;
    box-sizing: border-box;
}

.footer-find-us-section p {
    font-size: 2em !important;
    line-height: 1.5 !important;
}

.footer-logo-section{
    width: 45%;
    box-sizing: border-box;
} 

.footer-contact-us-section{
    width: 30%;
    box-sizing: border-box;
}

.footer-contact-us-section p{
    font-size: 1.5em;
    line-height: 1.5;
}

.footer-contact-us-section a{
    display: block;
    width: 1.5em;
    font-size: 1.1em;
    line-height: 1.7;

}

  .footer-find-us-section p {
    font-size: 20px;
    font-family: Montserrat;
  }

  
  .footer-contact-us-section p {
    margin: 0; /* Reset default margin */
  }
  
  .footer-contact-us-section a {
    color: #fff;
    text-decoration: none;
  }

  .footer-container{
    padding-top: 5em;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: Montserrat;
}


.social-media-section{
    width: 45%;
    box-sizing: border-box;
}

.footer-privacy-policy-section {
  width: 55%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-section-inner a{
    padding: 20px;
}

.footer-copyright-section{
    font-size: 1.1em;
}

.footer-privacy-policy-section a{
    padding: 0em 0.7em;
    font-family: 1.1em;
}


