.digital-marketing-main-outer-container{
    background-color: #090909;
    line-height: 2.3em !important;
}

.db-management-middle-section{
    padding: 0em 10em 10em 10em;
}

.it-consultancy-strategy-section-row{
    font-family: Montserrat;
}

.digital-marketing-bold-center-section{
    padding: 2em 6em;
    font-weight: bold;
}