.it-consulting-main-container{
    background-color: #090909;
    line-height: 2.3em !important;
}

.it-consultancy-strategy-section-container{
    padding: 3em 4em;
    font-family: Montserrat;
}

.it-consulting-main-container div#textLeft1 {
    padding: 2.8em;
}

.it-consulting-main-container .it-consultancy-strategy-section-row {
    padding: 0em 3em;
    margin: 0;
    line-height: 1.3;
}

.it-consulting-main-container .db-management-middle-section {
    padding: 0em 3em;
  }

.strategy-section-heading{
    font-weight: 600;
    font-size: 30px;
    margin-top: 1.3em !important;
    margin-bottom: 0.5em !important;
}

/* p.strategy-section-heading {
    margin-top: 1.3em;
} */

p.strategy-section-subtitle {
    margin: 5px auto;
    line-height: 1.4;
    font-size: 24px;
    color: #949f9d;
}

.it-consultancy-fifty-fifty-section{
    /* padding: 2em 0em; */
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifty-fifty-left-container{
    padding: 0em 2.5em 1em 0em;
    box-sizing: border-box;
}

.fifty-fifty-right-container{
    padding: 0em 0em 1em 2.5em;
    box-sizing: border-box;
}


.it-consultancy-text-video-section{
    box-sizing: border-box;
    padding: 2em 3em 0em 0em;
    background-color: #090909;
    color: white;
    font-family: Montserrat;
    width: 100%;
}

.it-consultancy-bottom-big-text-section {
    width: 80%;
}

.it-consultancy-text-video-container {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .it-consultancy-text-video-left-section {
    width: 60%;
    font-size: 1.1em;
  }

  .it-consultancy-text-video-right-section {
    width: 40%;
    padding: 2em;
    margin-right: 2em;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

  .it-consultancy-text-video-left-section p {
    margin-bottom: 20px;
  }

  .it-consultancy-text-video-right-section p {
    width: 100%;
    padding: 15em 30%;
    background-color: white;
    border-radius: 10%;
    color: black;
}

.it-consultancy-bold-section p{
    font-family: Montserrat;
    text-align: left;
}

.it-consultancy-text-video-section img{
  width: 90%;
}

.it-consulting-main-container section.b-content-button.u-margin {
    margin: 2em;
} 

.it-consultancy-strategy-section-container .center-text-bold-section{
    padding: 2em 0em !important;
}

.it-consultancy-strategy-section-container .center-text-bold-section p{
    padding: 2em 0em !important;
}


.it-consultancy-text-with-circle-section .e-title{
  font-size: 40px;
}

.it-consultancy-text-with-circle-section .e-cta__text{
  font-size: 46px;
  font-weight: 100;
  font-family: Montserrat;
}

.it-consultancy-text-with-circle-section{
    padding: 2em 4em 4em 2em;
}

.it-consultancy-text-with-circle-section {
    margin-top: 5em;
  }
  
  .web-design-video-section .row{
    justify-content: center;
  }
  
  .it-consultancy-text-with-circle-section .e-cta__text{
    font-size: 46px !important;
    font-weight: 100;
    font-family: Montserrat;
  }
  
  .it-consultancy-text-with-circle-section .e-cta{
    border:1px solid white
  }
  
  .it-consultancy-text-with-circle-section a.e-cta.is-inview{
    height: 300px;
    width: 300px;
  }
  
  .it-consultancy-text-with-circle-section .row{
    justify-content: center;
  }
  
  .db-management-full-width-video-section .row{
    justify-content: center;
  }
  
  @media screen and (min-width: 1399px) {
    .it-consultancy-text-with-circle-section .col-md-12.col-xl-11.offset-md-2{
      margin-right: 15%;
    }
  }

  @media screen and (min-width: 1299px) and (max-width:1398px){
    .it-consultancy-text-with-circle-section .col-md-12.col-xl-11.offset-md-2{
      margin-right: 10%;
    }
  
  }

@media screen and (min-width: 768px) and (max-width:1299px) {
    .it-consulting-main-container .text-center-non-bold{
        padding: 1em 2em;
    }

    .it-consulting-main-container .text-center-non-bold p{
        padding: 20px;
    }

    .it-consulting-main-container div#textLeft1 {
        padding: 1em 1.5em;
    }

    .it-consulting-main-container .it-consultancy-fifty-fifty-section{
        padding: 0em 2em;
    }


    .it-consultancy-strategy-section-container{
        padding: 2em 2.5em;
    }

    .it-consultancy-text-video-section{
        padding: 2em 1em 2em 0em;
    }

    .it-consultancy-text-video-right-section{
        margin-right: 0;
        padding: 2em 1em 2em 0em;
    }

    .it-consultancy-bold-section .center-text-bold-section{
        padding: 1em 2em;
        font-size: 20px;
        line-height: 1.3;
    }

    .it-consultancy-fifty-fifty-section .fifty-fifty-right-container{
        padding-left: 1em;
    }

    .it-consultancy-text-with-circle-section .b-content-button__titles {
        margin-right: 10px;
    }
    
    .it-consultancy-text-with-circle-section .e-cta__text{
      font-size: 40px !important;
    }
    
    .it-consultancy-text-with-circle-section a.e-cta.is-inview{
      height: 300px;
      width: 300px;
    }
    .it-consultancy-text-with-circle-section {
        padding: 0em 3em;
    }
}

@media screen and (max-width:767px) {
    .it-consulting-main-container .text-center-non-bold{
        padding: 1em 1em;
    }

    .it-consultancy-strategy-section-container{
        padding: 2em 1em;
    }

    .it-consulting-main-container div#textLeft1 {
        padding: 1em;
    }

    .it-consulting-main-container .it-consultancy-fifty-fifty-section{
        padding: 0em 2em;
    }

    /* .it-consultancy-text-video-section{
        padding: 2em 1em 2em 0em;
    } */

    .it-consultancy-text-video-right-section{
        margin-right: 0;
        padding: 2em 1em 2em 0em;
    }
    
    .it-consultancy-text-video-section{
        padding: 2em 0em 0em 0em;
    }

    .it-consultancy-bold-section .center-text-bold-section{
        padding: 2.5em;
        font-size: 17px;
        line-height: 1.3;
    }
    .it-consultancy-text-video-container{
        display: block;
    }
    .it-consultancy-text-video-right-section{
        width: 100%;
    }

    .it-consultancy-bottom-big-text-section{
        width: 100%;
    }

    .it-consultancy-text-with-circle-section a.e-cta.is-inview{
        height: 250px;
        width: 250px;
      }
      
    .it-consultancy-text-with-circle-section .e-cta__text{
        font-size: 30px !important
      }
    
      .it-consultancy-text-with-circle-section{
        padding: 2em 0em;
      }
    
      .it-consultancy-text-with-circle-section .row{
        flex-direction: column;
      }
    
      .it-consultancy-text-with-circle-section .col-md-12.col-xl-11.offset-md-2{
        margin-right: 4em;
      }
      .it-consultancy-text-with-circle-section .b-content-button__titles{
        font-size: 25px;
      }

      .it-consulting-main-container section.b-content-button.u-margin {
        margin: 1em 0em;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .it-consultancy-text-with-circle-section .e-title{
      font-family: 25px;
    }
  }
  
  @media screen and (min-width:1200px) and (max-width:1299px) {
    .it-consultancy-text-with-circle-section .col-md-12.col-xl-11.offset-md-2 {
        margin-right: 15% !important;
    }
  }  
  
  @media screen and (min-width:1023px) and (max-width:1199px) {
    .it-consultancy-text-with-circle-section .col-md-12.col-xl-11.offset-md-2 {
        margin-right: 10% !important;
    }
  }  
  
  @media screen and (max-width:500px) {
    .it-consultancy-text-with-circle-section .row{
      display: block;
    }
  }
  